extend base.pug

block content
    if(errorMessage)
        span=errorMessage
    form(method="POST")
        input(placeholder="Email" type="email", name="email", required)
        input(placeholder="Usr Name" type="text", name="username", required)
        input(placeholder="Password" type="password", name="password", required)
        input(placeholder="Password Confirm" type="password", name="password2", required)
        input(placeholder="Name" type="text", name="name", required)
        input(placeholder="Location" type="text", name="location")
        input(type="submit", value="Join")
    hr
    div
        span Already have an account? 
        a(href="/login") Log in now &rarr;
